/* Стилі для мобілок */

.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('/images/img-mobile/Dark-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/images/img-mobile/Dark-bg-mobile@2x.jpg');
  }
}

.main-header {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.order-service {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}

/* Планшетні стилі */

@media screen and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/images/img-tablet/Dark-bg-tablet.jpg');
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-header {
    font-size: 56px;
    line-height: 1.07;
    min-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/images/img-tablet/Dark-bg-tablet@2x.jpg');
  }
}

/* Стилі для десктопу */

@media screen and (min-width: 1158px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/images/img-desktop/Dark-bg-desktop.jpg');
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-header {
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/images/img-desktop/Dark-bg-desktop@2x.jpg');
  }
}
