/* Мобільні стилі */

.menu {
  display: none;
}

.contacts {
  display: none;
}

.container-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-part {
  color: #2e2f42;
}

.burger-menu {
  line-height: 0;
  border: none;
  background-color: transparent;
}

/* Мобільне меню */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-right: 24px;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.close-button {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  stroke: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  list-style-type: none;
  color: #2e2f42;
}

.header-link-studio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  list-style-type: none;
  color: #404bbf;
}

.contacts-and-network {
  margin-top: auto;
}

.info-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  margin-bottom: 48px;
}

.info-contacts-connect {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.info-contacts-number {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-style: normal;
}

.network-icons-menu {
  display: flex;
  gap: 40px;
  fill: #f4f4fd;
  list-style-type: none;
}

.photo-links {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
}

.logo-icons {
  fill: #f4f4fd;
}

/* Планшетні стилі */

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .container-first {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-left: 120px;
    margin-right: 121px;
  }

  .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding: 24px 0;
  }

  .link-studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 24px 0;
  }

  .link-studio:hover {
    color: #404bbf;
  }

  .link-studio::after {
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    display: block;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contacts {
    display: flex;
  }

  .menu-contacts {
    list-style-type: none;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-connect {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #434455;
  }
}

/* Стилі для десктопу */

@media screen and (min-width: 1158px) {
  .container-first {
    padding: 0 15px;
    max-width: 1158px;
  }

  .menu {
    margin-left: 76px;
    margin-right: 332px;
  }

  .menu-contacts {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-connect {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-connect:hover,
  .contacts-connect:focus {
    color: #404bbf;
  }
}
