/* Мобільні стилі */

@media screen and (max-width: 1157px) {
  .area-pictures {
    display: none;
  }
}

.second-section {
  padding: 96px 0;
}

.menu-second-section {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.part-of-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.second-header-a {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.first-page-a {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Планшетні стилі */

@media screen and (min-width: 768px) {
  .menu-second-section {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .part-of-list {
    width: calc((100% - 24px) / 2);
  }

  .second-header-a {
    text-align: start;
  }
}

/* Десктопні стилі */

@media screen and (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }

  .menu-second-section {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }

  .area-pictures {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .second-header-a {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .first-page-a {
    font-weight: 400;
  }
}
